#pencil {
  background-image: url('../../content/images/pencil2-icon.png');
  // background-size: 35px;
  background-position: center;
  background-repeat: no-repeat;
}

#brush {
  background-image: url('../../content/images/brush-icon.png');
  // background-size: 35px;
  background-position: center;
  background-repeat: no-repeat;
}

#eraser {
  background-image: url('../../content/images/eraser-icon.png');
  // background-size: 35px;
  background-position: center;
  background-repeat: no-repeat;
}

#square {
  background-image: url('../../content/images/square-icon.png');
  // background-size: 35px;
  background-position: center;
  background-repeat: no-repeat;
}

#circle {
  background-image: url('../../content/images/circle-icon.png');
  // background-size: 35px;
  background-position: center;
  background-repeat: no-repeat;
}

#triangle {
  background-image: url('../../content/images/triangle-icon.png');
  // background-size: 35px;
  background-position: center;
  background-repeat: no-repeat;
}

#clear {
  background-image: url('../../content/images/clear2-icon.png');
  // background-size: 35px;
  background-position: center;
  background-repeat: no-repeat;
}

#square-outline {
  background-image: url('../../content/images/square-outline-icon.png');
  background-position: center;
  background-repeat: no-repeat;
}

#circle-outline {
  background-image: url('../../content/images/circle-outline-icon.png');
  background-position: center;
  background-repeat: no-repeat;
}

#triangle-outline {
  background-image: url('../../content/images/triangle-outline-icon.png');
  background-position: center;
  background-repeat: no-repeat;
}

#undo {
  background-image: url('../../content/images/undo-icon.png');
  background-position: center;
  background-repeat: no-repeat;
}

#redo {
  background-image: url('../../content/images/redo-icon.png');
  background-position: center;
  background-repeat: no-repeat;
}

#download {
  background-image: url('../../content/images/download-icon.png');
  background-position: center;
  background-repeat: no-repeat;
}

#home {
  background-image: url('../../content/images/home-icon.png');
  background-position: center;
  background-repeat: no-repeat;
}

#plus {
  background-image: url('../../content/images/plus-icon.png');
  background-position: center;
  background-repeat: no-repeat;
}
