<body [attr.id]="colour ? 'yellow' : 'white'">
  <h1>General Data Protection Regulation Policy</h1>
  <p>
    GuessMyDoodle gathers and uses certain user information. This privacy policy will explain how our game uses the personal data we collect
    from you when you use our website.
  </p>

  <div id="gap"></div>

  <h2>Why does this policy exist?</h2>
  <ul>
    <li>Complies with GDPR and follows good practice</li>
    <li>Protects the rights of staff, customers, and partners</li>
    <li>Is open about how it stores and processes individuals' data</li>
    <li>Protects itself from the risks of a data breach</li>
  </ul>

  <div id="gap"></div>

  <h2>What data do we collect?</h2>
  <ul>
    <li>Username</li>
    <li>Email and password</li>
    <li>Usage data</li>
  </ul>

  <div id="gap"></div>

  <h2>What is usage data?</h2>
  <p>
    Usage data refers to the information collected about how individuals use a service, system, or application. This may include the
    following information:
  </p>
  <ul>
    <li>Information about the device, operating system, browser, and network used to access the service.</li>
    <li>The device's Internet Protocol address (IP address).</li>
    <li>The browser type and version.</li>
    <li>Unique device identifiers.</li>
    <li>The pages of the service visited.</li>
    <li>How often the service is utilized over a certain period.</li>
    <li>The length of time the service is used during each session.</li>
    <li>Which specific features of the service are used.</li>
    <li>How users interact with the service.</li>
    <li>User preferences such as customizations, settings, and configurations chosen by the user.</li>
    <li>Other diagnostic and technical data.</li>
  </ul>

  <p>
    Collecting and analyzing usage data helps us understand how our website is being used by real users. This can guide product development
    and improve user experience.
  </p>

  <div id="gap"></div>

  <h2>How do we collect your data?</h2>
  <p>We collect data and process data when you:</p>
  <ul>
    <li>Register online.</li>
    <li>Voluntarily complete a customer survey or provide feedback via email.</li>
  </ul>

  <div id="gap"></div>

  <h2>How will we use your data?</h2>
  <p>GuessMyDoodle may use personal data for the following purposes:</p>
  <ul>
    <li>To provide and maintain our service.</li>
    <li>To monitor the usage of our service.</li>
    <li>
      To manage your account: the personal data you provide can give you access to different functionalities of the service that are
      exclusive to registered users.
    </li>
    <li>
      To email you with updates or information related to the functionalities of our service, including security updates when necessary.
    </li>
    <li>
      Other purposes: We may use your information for data analysis, identifying usage trends, determining the effectiveness of our
      promotional campaigns, and evaluating our service.
    </li>
  </ul>

  <p>We may share your personal information with:</p>
  <ul>
    <li>Service Providers: to monitor and analyze the use of our service and to contact you.</li>
    <li>Affiliates: we will require those affiliates to honor this privacy policy.</li>
    <li>Other users: public information may be viewed by all users and may be publicly distributed outside.</li>
    <li>Your consent: we may disclose your personal information for any other purpose with your consent.</li>
  </ul>

  <div id="gap"></div>

  <h2>Retention of personal data</h2>
  <p>
    GuessMyDoodle securely stores your data at server facilities within the United Kingdom (UK) and European Economic Area (EEA), ensuring
    full compliance with the GDPR. We employ advanced security measures, robust firewalls, and intrusion detection systems to safeguard your
    data. Access to the data is strictly controlled and monitored, with authentication mechanisms in place to ensure that only authorized
    personnel can access your information for legitimate purposes.
  </p>

  <p>
    GuessMyDoodle will retain your personal data until 1 July 2024 for the purposes set out in this privacy policy. Personal data will be
    retained and used to the extent necessary to comply with our legal obligations, resolve disputes, and enforce our legal agreements and
    policies.
  </p>

  <p>
    GuessMyDoodle will also retain usage data for internal analysis purposes. We maintain usage data for a shorter period of time, except
    when using this data to enhance security, improve service functionality, or when legal obligations require us to retain it for a longer
    period of time.
  </p>

  <p>
    As required by the 2024 Team Project module, GuessMyDoodle will only retain your data for as long as necessary to facilitate grading
    (i.e., until the end of the summer assessment period at the latest). After this period, the servers hosting this application will cease
    storing your data and serving our web application.
  </p>

  <div id="gap"></div>

  <h2>Transfer of personal data</h2>
  <p>
    We process your personal data on servers owned and maintained by The University of Birmingham and other locations where processing
    occurs (e.g., Panopto and Zoom servers). This means that your information may be transferred to computers located outside of your state,
    province, country, or other governmental authority, where data protection laws may differ from those in your jurisdiction. Your consent
    to this privacy policy, followed by your submission of such information, represents your agreement to that transfer. GuessMyDoodle will
    take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this privacy policy, and no
    transfer of your personal data will take place to an organization or a country unless there are adequate controls in place including the
    security of your data and other personal information.
  </p>

  <div id="gap"></div>

  <h2>Deleting personal data</h2>
  <p>
    You have the right to delete or request that we assist in deleting the personal data that we have collected about you. Our service may
    grant the ability to delete certain personal information from within the website. You may contact us to request access to, correct, or
    delete any personal information.
  </p>

  <p>Please note we may need to retain certain information when we have a legal obligation or lawful basis to do so.</p>

  <div id="gap"></div>

  <h2>What are your data protection rights?</h2>
  <p>
    GuessMyDoodle would like to ensure that you are fully aware of all your data protection rights. Every user is entitled to the following:
  </p>
  <ul>
    <li>The right to access - You have the right to request GuessMyDoodle for copies of your personal data.</li>
    <li>
      The right to rectification - You have the right to request that GuessMyDoodle correct any information you believe is inaccurate. You
      also have the right to request GuessMyDoodle to complete information you believe is incomplete.
    </li>
    <li>The right to erasure – You have the right to request that GuessMyDoodle erases your personal data, under certain conditions.</li>
    <li>
      The right to restrict processing – You have the right to request that GuessMyDoodle restrict the processing of your personal data,
      under certain conditions.
    </li>
    <li>
      The right to object to processing – You have the right to object to GuessMyDoodle’s processing of your personal data, under certain
      conditions.
    </li>
    <li>
      The right to data portability – You have the right to request that GuessMyDoodle transfer the data we have collected to another
      organization, or directly to you, under certain conditions.
    </li>
  </ul>

  <p>
    If you make a request, we have one month to respond to you, if you would like to exercise any of these rights, please contact us with
    the details provided under the ‘How to contact us’ section of this policy.
  </p>

  <div id="gap"></div>

  <h2>What are cookies?</h2>
  <p>
    Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you
    visit our website, we may collect information from you automatically through cookies or similar technology.
  </p>

  <div id="gap"></div>

  <h2>How do we use cookies?</h2>
  <p>GuessMyDoodle uses cookies in a range of ways to improve your experience on our website, including:</p>
  <ul>
    <li>Keeping you signed in.</li>
    <li>Understanding how you use our website.</li>
  </ul>

  <div id="gap"></div>

  <h2>What types of cookies do we use?</h2>
  <p>There are a number of different types of cookies, however, our website uses:</p>
  <ul>
    <li>
      Functionality - GuessMyDoodle uses these cookies so that we recognize you on our website and remember your previously selected
      preferences. These could include what language you prefer and location you are in. A mix of first-party and third-party cookies are
      used.
    </li>
  </ul>

  <div id="gap"></div>

  <h2>How to manage cookies</h2>
  <p>You can set your browser not to accept cookies. However, in a few cases, some of our website features may not function as a result.</p>

  <div id="gap"></div>

  <h2>Privacy policies of other websites</h2>
  <p>
    The GuessMyDoodle website may contain links to other websites. Our privacy policy applies only to our website, so if you click on a link
    to another website, you should read their privacy policy.
  </p>

  <div id="gap"></div>

  <h2>Changes to our privacy policy</h2>
  <p>
    GuessMyDoodle keeps its policy under regular review and places any updates on this web page. This privacy policy was last updated on 5
    March 2024.
  </p>

  <div id="gap"></div>

  <h2>How to contact us</h2>
  <p>
    If you have any questions about GuessMyDoodle's privacy policy, the data we hold on you, or you would like to exercise one of your data
    protection rights, please do not hesitate to contact us.
  </p>
  <p>Email us at any of the following:</p>
  <ul>
    <li>axr593@student.bham.ac.uk</li>
    <li>omd190@student.bham.ac.uk</li>
    <li>pxp282@student.bham.ac.uk</li>
    <li>jxp294@student.bham.ac.uk</li>
    <li>mxh1223@student.bham.ac.uk</li>
    <li>axd373@student.bham.ac.uk</li>
    <li>exj257@student.bham.ac.uk</li>
  </ul>

  <div id="gap"></div>

  <h2>How to contact the appropriate authority</h2>
  <p>
    Should you wish to report a complaint or if you feel that GuessMyDoodle has not addressed your concern in a satisfactory manner, you may
    contact the Information Commissioner’s Office.
  </p>
  <p>ICO helpline: 0303 123 1113</p>
  <p>By live chat via <a href="http://www.ico.org.uk">www.ico.org.uk</a></p>
  <div>
    <a class="fancy" [routerLink]="['/']">Home</a>
    <input type="checkbox" (change)="changeColor()" />
  </div>
</body>
