.uisize {
  height: 90px;
  width: 390px;
  padding: 0px;
  left: 105px;
  top: 298px;
  /*position:relative;*/
}
.uisize2 {
  color: #000000;
  text-align: center;
  vertical-align: text-middle;
  font-size: 15px;
  font-family: Press Start 2P;
  line-height: auto;
  border-style: hidden;
  outline: none;
  top: 0px;
  left: 128px;
  /*position:absolute;*/
  width: 136px;
}
.selectionline2 {
  height: 0.0321025513112545px;
  width: 385px;
  left: 0px;
  top: 0px;
  /*position:absolute;*/
}
.currentslection2 {
  background-color: #5b5b5b;
  height: 15px;
  width: 15px;
  top: 38px;
  left: 187.5px;
  /*position:absolute;*/
  border-radius: 50%;
}
.dyslexic {
  height: 120px;
  width: 420px;
  padding: 0px;
  left: 91px;
  top: 478px;
  /*position:relative;*/
}
.dyslexicfriendlyfont {
  color: #000000;
  text-align: center;
  vertical-align: text-middle;
  font-size: 15px;
  font-family: Press Start 2P;
  line-height: 30px;
  border-style: hidden;
  outline: none;
  top: 46px;
  left: -12px;
  /*position:absolute;*/
  width: 354px;
}

.rectangle3 {
  background-color: #d9d9d9;
  height: 30px;
  width: 30px;
  border-radius: 6px;
  border: 3px solid #858585;
  top: 45px;
  left: 375px;
  /*position:absolute;*/
}
.uilanguage {
  height: 120px;
  width: 420px;
  padding: 0px;
  left: 89px;
  top: 598px;
  /*position:relative;*/
}
.uilanguage2 {
  color: #000000;
  text-align: center;
  vertical-align: text-middle;
  font-size: 15px;
  font-family: Press Start 2P;
  line-height: 30px;
  border-style: hidden;
  outline: none;
  top: 0px;
  left: 101px;
  /*position:absolute;*/
  width: 217px;
}
.frame2 {
  height: 60px;
  width: 240px;
  padding: 0px;
  left: 90px;
  top: 45px;
  /*position:relative;*/
}
.rectangle4 {
  background-color: #d9d9d9;
  height: 60px;
  width: 240px;
  border-radius: 12px;
  border: 1px solid #858585;
}
.line1 {
  width: 60px;
  transform: rotate(-90deg);
  border: 1px solid #858585;
  top: 0px;
  left: 209px;
  /*position:absolute;*/
}
.dropdown {
  background-color: #858585;
  height: 20px;
  width: 30px;
  transform: rotate(180deg);
  top: 40px;
  left: 239.5px;
  /*position:absolute;*/
}
.english {
  color: #000000;
  text-align: center;
  vertical-align: text-middle;
  font-size: 15px;
  font-family: Press Start 2P;
  line-height: 30px;
  border-style: hidden;
  outline: none;
  top: 15px;
  left: 53px;
  /*position:absolute;*/
  width: 105px;
}
