<div>
  <div class="accessibilitysetting-container">
    <div class="accessibilitysetting-wireframe1">
      <div class="accessibilitysetting-frame1">
        <div class="accessibilitysetting-rectangle1">
          <span class="accessibilitysetting-text">
            <span>Accessibility Settings</span>
          </span>
          <button class="accessibilitysetting-exit" type="button" (click)="backToSettingPage()">
            <div class="accessibilitysetting-rectangle2">
              <span class="accessibilitysetting-text02">x</span>
            </div>
          </button>
          <div class="accessibilitysetting-themeselection">
            <span class="accessibilitysetting-text03"><span>Theme</span></span>
            <div class="accessibilitysetting-dark" (click)="contrastThemeClick()">
              <div class="accessibilitysetting-dark-theme"></div>
              <span class="accessibilitysetting-text05">
                <span>High Contrast</span>
              </span>
              <div class="accessibilitysetting-dark-theme1"></div>
            </div>
            <!--<div class="accessibilitysetting-selectmore">
              <div class="accessibilitysetting-selectmore1"></div>
              <span class="accessibilitysetting-text07"><span>...</span></span>
              <span class="accessibilitysetting-text09"><span>More</span></span>
            </div>-->
            <div class="accessibilitysetting-r-gcolourblind" (click)="colourThemeClick()">
              <div class="accessibilitysetting-light-theme"></div>
              <span class="accessibilitysetting-text11">
                <span>R-G Colour Blind</span>
              </span>
              <div class="accessibilitysetting-light-theme1"></div>
            </div>
          </div>
          <div class="accessibilitysetting-fontsize">
            <span class="accessibilitysetting-text13">
              <span>Font Size</span>
            </span>
            <div class="accessibilitysetting-selection-line">
              <!--<div class="accessibilitysetting-currentslection"></div>-->
              <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="fontRange" />
              </div>
            </div>
          </div>
          <div class="accessibilitysetting-u-isize">
            <span class="accessibilitysetting-text15"><span>UI Size</span></span>
            <div class="accessibilitysetting-selection-line1">
              <!--<div class="accessibilitysetting-currentslection1"></div>-->
              <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="uiRange" />
              </div>
            </div>
          </div>
          <div class="accessibilitysetting-dyslexic">
            <span class="accessibilitysetting-text17">
              <span>Dyslexic Friendly Font</span>
            </span>
            <div class="accessibilitysetting-rectangle3" (click)="flipBodyClass()"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
