<!-- <jhi-page-ribbon></jhi-page-ribbon>

<div>
  <router-outlet name="navbar"></router-outlet>
</div>

<div class="container-fluid">
  <div class="card jh-card">
    <router-outlet></router-outlet>
  </div>

  <jhi-footer></jhi-footer>
</div> -->

<!--UNCOMMENT 3 LINES BELOW FOR NAVBAR-->
<!-- <div>
  <router-outlet name="navbar"></router-outlet>
</div> -->

<link href="https://fonts.googleapis.com/css?family=Press Start 2P" rel="stylesheet" />
<body>
  <router-outlet></router-outlet>
  <jhi-footer></jhi-footer>
</body>
